@model IEnumerable<Project_WerkenMetDatabase.Models.Category>


<style>
    .table-hover tbody tr:hover td {
        background-color: lightblue;
    }

    .btn-collapse {
        border: none;
        font-size: 0.8em;
        outline:none;
    }

        .btn-collapse:hover {
            background-color: white;
        }
        .btn-collapse:visited{
            background-color:white;
        }
        
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $(".btn-collapse").click(function(){
        $(this).toggleClass("glyphicon-folder-open");
        $(this).toggleClass("glyphicon-folder-close");
    });

});
</script>
<h1>Oscars Categories</h1>
<hr />

@foreach (var cat in Model)
{
    <h3>
        @cat.Id.ToString("00") - @cat.CategoryName
        <button class="glyphicon glyphicon-folder-open btn btn-default btn-collapse"
                data-toggle="collapse"
                href="#@cat.Id.ToString()" ></button>

    </h3>
    <div class="collapse" id="@cat.Id.ToString()">
        <table class="table table-striped table-hover table-bordered ">

            @foreach (var nom in cat.Nominees)
            {
                <tr>
                    <td>@nom.Id</td>
                    <td>@nom.OscarYear</td>
                    <td>@nom.CategoryId</td>
                    <td>@nom.Category.CategoryName</td>
                    <td>@nom.Winner</td>
                    <td>@nom.NomineeName</td>
                    <td>@nom.FromTheMovie</td>
                </tr>
            }
        </table>
    </div>
}

